{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/evenement.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appel.css') }}">

    {% endblock %}
{% block content %}
<div>
    <h2>Participations</h2>
    <form action="{{ url_for('save_appel_rep') }}" method="post">
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Présent</th>
        </tr>
    {% for p in participation %}
    <tr>
        <td>{{p.nomMusicien}}  </td>
        <td>{{p.prenomMusicien}}  </td>
        <td>
            <div>
                <input type="radio" value="True" name="{{p.idMusicien}}" id="oui">
                <label for="oui">oui</label>
            </div>
            <div>
                <input type="radio" value="False" name="{{p.idMusicien}}" id="non">
                <label for="non">non</label>
            </div>
        </td>

    </tr>
    {% endfor %}
        <input type="hidden" value="{{rep.idRepetition}}" name="repetition">
    </table>
        <div class="appel">
        
            <input type="submit" class="appel" value="Valider l'appel">
        </div>
</div>
{% endblock %}
