{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/evenement.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appel.css') }}">
{% endblock %}
{% block content %}
<div>
    <form action="{{ url_for('save_appel_sortie') }}" method="post">
   
    {% for key in liste_instrument %}
    <table>
        <tr>
            <th>Nom</th>
            <th>Présent</th>
        </tr>
        <h2 class = 'nomInstrument'>{{key}}</h2>
        {% for value in liste_instrument[key] %}
            <tr>
                <td>{{value[0]}}</td>
                <td><input type="checkbox" name="True" value="{{value[1]}}"></td>
            </tr>        
        {% endfor %}
    </table>
    {% endfor %}
        <input type="hidden" value="{{sortie.idSortie}}" name="sortie">
   
    <input type="submit" class ="btn btn-danger mx-auto d-block" value="Valider l'appel">
</div>
{% endblock %}
