{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/calendrier.css')}}">
{% endblock %}
{% block content %}
<div class="calendrier">
<form action="/calendrier" method="get">
    <input type="text" name="mois" value="{{numMois-1}}" hidden>
    <button class='btn btn-danger mx-auto d-block' type="submit">Mois précédent</button>
</form>
<h1>Calendrier</h1>

<form action="/calendrier" method="get">
    <input type="text" name="mois" value="{{numMois+1}}" hidden>
    <button class='btn btn-danger mx-auto d-block' type="submit">Mois suivant</button>
</form> 
</div>
{{calendrier | safe}}
<p class="test"></p>
<script>
    var test = document.getElementsByClassName("mois")
    for(element of test){
        element.innerHTML = "{{mois}}";
    }
    var jours = document.querySelectorAll("th");
    for(var i=0;i<jours.length;i++){
        if(jours[i].innerHTML == "Mon"){
            jours[i].innerHTML = "Lundi";
        }
        if(jours[i].innerHTML == "Tue"){
            jours[i].innerHTML = "Mardi";
        }
        if(jours[i].innerHTML == "Wed"){
            jours[i].innerHTML = "Mercredi";
        }
        if(jours[i].innerHTML == "Thu"){
            jours[i].innerHTML = "Jeudi";
        }
        if(jours[i].innerHTML == "Fri"){
            jours[i].innerHTML = "Vendredi";
        }
        if(jours[i].innerHTML == "Sat"){
            jours[i].innerHTML = "Samedi";
        }
        if(jours[i].innerHTML == "Sun"){
            jours[i].innerHTML = "Dimanche";
        }   
    }
    var test1 = document.getElementsByClassName("test")
    var datas = document.querySelectorAll("td");
    test1.innerHTML == datas
    var fin=true
    var i=0
    if("{{moisActuelle}}">"{{numMois}}"){
        while(fin){
            datas[i].style.backgroundColor = "grey";
            if(datas[i].innerHTML == ""+datas[i].length){
                fin=false;
            }
            i++;
        }
    }
    else if ("{{moisActuelle}}"=="{{numMois}}"){
        while(fin ){
        datas[i].style.backgroundColor = "grey";
        if(datas[i].innerHTML == "{{num_day}}"){
            datas[i].style.backgroundColor = "lightblue";
            fin=false;
        }
        i++;
    }
    }
    for(var j=0; j<datas.length; j++){
        (function(j) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_val_dico_mois/' + datas[j].innerHTML +"/{{numMois}}");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var eve = JSON.parse(xhr.responseText);
                    if(Object.keys(eve).length !== 0){
                        var new_content = "";
                        if(Object.keys(eve).includes("sortie")){
                        new_content = new_content+"<a href='/sortie/" + eve.sortie + "' class='sortie'> S n°" +eve.sortie+" du "+datas[j].innerHTML + "</a>";
                        }
                        if(Object.keys(eve).includes("repetition")){
                            new_content = new_content+"<a href='/repetition/" + eve.repetition + "' class='repetition' >R n°" +eve.repetition+" du "+datas[j].innerHTML + "</a>";
                        }
                        if(new_content != ""){
                            datas[j].innerHTML = new_content;
                        }
                    }
                }
            };
            xhr.send();
        })(j);
    }
</script>


<div>
    {% if current_user.admin %}
    <a href="/crea_sortie" class="bouton_crea_sortie"><button>Créer une sortie</button></a>
    <a href="/crea_repetition" class="bouton_crea_repetition"><button class="deux">Créer une repetition</button></a>
    <a href="/crea_sondage_standard" class="bouton_crea_sondage_standard"><button>Créer une question</button></a>
    {% endif %}
</div>
    <h2>Disponibilité</h2>

    <!-- mes 2 select de date -->
    <div class="select_date">
        <form action="/ajoute_dispo" method="post">
            <label for="date_debut">Date de début</label>
            <input type="date" id="date_debut" name="date_debut" value="{{date_debut}}">
            <label for="date_fin">Date de fin</label>
            <input type="date" id="date_fin" name="date_fin" value="{{date_fin}}" min = {{date}}>
            <input type="submit" value="Valider">
        </form>
    </div>
    
    <div class="dispo">
        <div class="dispo1">
            <h3>Disponibilité de {{current_user.nomMusicien}} {{current_user.prenomMusicien}}</h3>
            {% if dispo %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Supprimer</th>
                </tr>
                {% for d in dispo %}
                <tr>
                    <td>{{d.date}}</td>
                    <td><a href="/supprime_dispo/{{d.date}}"><button>Supprimer</button></a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>Vous n'avez pas de disponibilité</h4>
            {% endif %}
        </div>
        {% if current_user.admin %}
        <div class="dispo2">
            <h3>Disponibilité des musiciens</h3>
            {% if dispo_musicien %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                </tr>
                {% for d in dispo_musicien %}
                <tr>
                    <td>{{d.idMusicien}}</td>
                    <td>{{d.date}}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h4>Il n'y a pas de disponibilité</h4>
            {% endif %}

        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}