{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/crea_eve.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Créer une sortie</h1>
        <h3>Remplissez les champs ci-dessous avec les informations nécessaires</h3>
        {% if erreur %}
            <h3 class="erreur_sortie">Un des champs n'a pas été rempli</h3>
        {% endif %}
        <form action="{{ url_for('save_sortie') }}" method="post" class="form_sortie">
            <div class="form-group">
                <label for="lieu" class="control-label">Lieu de la sortie</label>
                <input type="text" name="lieu" class="form-control" placeholder="Lieu de la sortie">
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description de la sortie</label>
                <textarea name="description" class="form-control" placeholder="Description de la sortie" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="type" class="control-label">Type de sortie</label>
                <input type="text" name="type" class="form-control" placeholder="Type de sortie">
            </div>
            <div class="form-group">
                <label for="tenue" class="control-label">Tenue de la sortie</label>
                <input type="text" name="tenue" class="form-control" placeholder="Tenue de la sortie">
            </div>
            <div class="form-group">
                <label for="date" class="control-label">Date de la sortie</label>
                <input type="datetime-local" name="date" class="form-control" min="{{ date }}">
            </div>
            <div class="form-group">
                <label for="duree" class="control-label">Durée de la sortie (en heures)</label>
                <input type="number" name="duree" class="form-control" placeholder="Durée en heures">
            </div>


            <input type="submit" value="Créer la sortie" class="btn btn-danger">
        </form>
    </div>

</form>

{% endblock %}

