{% extends "base.html" %}
{% block styles %}
{{ bootstrap.load_css() }}

{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profil.css') }}">
{% endblock %}

{% block content %}
<div class="sample">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('maj_profil') }}">
        <div class="form-group">
            <h2>Profil de {{ current_user.nomMusicien }} {{ current_user.prenomMusicien }}</h2>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="nomMusicien" class="control-label">Nom</label>
                    <input type="text" id="nomMusicien" name="nomMusicien" class="form-control"
                        value="{{ current_user.nomMusicien }}" readonly>
                </div>
                <div class="col-sm-6">
                    <label for="prenomMusicien" class="control-label">Prénom</label>
                    <input type="text" id="prenomMusicien" name="prenomMusicien" class="form-control"
                        value="{{ current_user.prenomMusicien }}" readonly>
                </div>
            </div>
            {% for error in form.nomMusicien.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="telephone" class="control-label">Télephone</label>
            <input type="text" id="telephone" name="telephone" class="form-control" value="{{ current_user.telephone }}"
                readonly>
        </div>

        <div class="form-group">
            <label for="adresseMail" class="control-label">Email</label>
            <input type="text" id="adresseMail" name="adresseMail" class="form-control"
                value="{{ current_user.adresseMail }}" readonly>
            {% for error in form.adresseMail.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Mot de passe</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="**********" readonly>
        </div>
        <div class="form-group">
            <label for="ageMusicien" class="control-label">Âge</label>
            <input type="text" id="ageMusicien" name="ageMusicien" class="form-control"
                value="{{ current_user.ageMusicien }}" readonly>
            {% for error in form.ageMusicien.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <div>
                <button type="button" class="btn btn-danger rounded" onclick="enableEdit()">Modifier</button>
                <button type="submit" class="btn btn-danger rounded" style="display:none;">Enregistrer</button>
            </div>
        </div>
        <div>
            <h2>Mes tuteles</h2>
            {% for tutele in liste_tutele %}
            <p>{{ tutele.nomMusicien }} {{ tutele.prenomMusicien }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
                <a class="btn btn-danger rounded" href="{{url_for('inscription_tutore')}}">Tutorer quelqu'un</a>
        </div>
</div>

<script>
    function enableEdit() {
        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].removeAttribute("readonly");
        }
        document.getElementById("password").setAttribute("placeholder", "");
        document.querySelector('button[type="button"]').style.display = "none";
        document.querySelector('button[type="submit"]').style.display = "block";
    }
</script>

{% endblock %}