{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_register.css') }}">
{% endblock %}

{% block content %}
<div class="sample">
    <form class="form-horizontal" role="form" method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <h2>S'incrire</h2>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="nomMusicien" class="control-label">Nom</label>
                    {{ form.nomMusicien(size=50, class_="form-control", placeholder="") }}
                </div>
                <div class="col-sm-6">
                    <label for="prenomMusicien" class="control-label">Prénom</label>
                    {{ form.prenomMusicien(size=50, class_="form-control", placeholder="") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="telephone" class="control-label">Télephone</label>
            {{ form.telephone(size=50, class_="form-control", placeholder="") }}
        </div>

        <div class="form-group">
            <label for="adresseMail" class="control-label">Email</label>
            {{ form.adresseMail(size=50, class_="form-control", placeholder="") }}
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Mot de passe</label>
            {{ form.password(size=50, class_="form-control", placeholder="") }}
        </div>
        <div class="form-group">
            <label for="confirm_password" class="control-label">Confirmer le mot de passe</label>
            {{ form.confirm_password(size=50, class_="form-control", placeholder="") }}
        </div>
        <div class="form-group">
            <label for="age" class="control-label">Âge</label>
            <input type="number" id="age" name="age" class="form-control" required min="0" max="122">
        </div>
        <div class="form-group center-checkbox">
            <label for="isAdmin" style="margin-right: 10px;">Admin</label>
            <div class="form-check">
                <input type="checkbox" id="isAdmin" name="isAdmin" class="form-check-input">
            </div>
        </div>
        
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-danger rounded">S'incrire</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}