
{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/evenement.css')}}">
{% endblock %}
{% block content %}
<div>
    <h2>Date de la répétition {{rep.dateRepetition}}</h2>
</div>
<div>
    <p>Durée de la sortie :{{rep.dureeRepetition}} h</p>
    <div>
        <div id="paragraph">
            <div> Lieu :</div>
            <div id = "Lieu">{{rep.lieu}}</div>
            <button onclick="myFunction()">Copier le Lieu</button>

        </div>
    </div>    
    <p>Tenue : {{rep.tenue}}</p>
</div>
<script>
    function myFunction() {
        // Get the text content of the paragraph
        var copyText = document.getElementById("Lieu").innerText;
    
        // Copy the text to the clipboard
        navigator.clipboard.writeText(copyText);
    
        // Alert the user
        alert("Copied the text: " + copyText);
    }
    
</script>
{% endblock %}