{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/sondage.css')}}">
{% endblock %}
{% block content %}
<h1>Sondage</h1>
<h2>Sondage en cours</h2>
<table>
    <tr>
        <th>Sujet sondage</th>
        <th>Date</th>
        <th>Temps restant</th>
        <th>Vote</th>
        <th>Valider</th>
    </tr>
    {% if len(sondages)==0 %}
</table>
<p>Pas de sondage en cours</p>
{% else %}
{% for s in sondages %}
<form method="POST" action="{{ url_for('validation_sondage')}}">
    <tr>
        <td>{{ s.message }}</td>
        <td>
            {% if s.idSortie!=None %}
            {{ get_sortie_by_id(s.idSortie).dateSortie }}
            {% elif s.idRepetition!=None %}
            {{ get_repetition_by_id(s.idRepetition).dateRepetition }}
            {% else %}
            <p>aucune</p>
            {% endif %}
        </td>
        <td id="temps{{s.idSondage}}">
            {{s.temps_restant()}}
        </td>
        <td>
            {% if s.idSortie==None and s.idRepetition==None %}
            <div>aucune</div> 
            {% else %}
            <div>
                <input type="radio" value="True" name="choix{{s.idSondage}}" id="oui">
                <label for="oui">oui</label>
            </div>
            <div>
                <input type="radio" value="False" name="choix{{s.idSondage}}" id="non">
                <label for="non">non</label>
            </div>
            {% endif %}
        </td>
        <input name="idsondage" type="text" value="{{s.idSondage}}" hidden>
        <td>
            {% if s.idSortie==None and s.idRepetition==None %}
            <div><a href="/page_reponse_question/{{get_question_by_idSondage(s.idSondage).idSondage}}">repondre</a></div> 
            {% else %}
            <input class="valid" type="submit" value="✔️">
            {% endif %}
        </td>
    </tr>
</form>
<script>
    function updateContent(idSondage) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/update_temps' + idSondage);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('temps'+idSondage).innerHTML = response.content;
                }
            };
            xhr.send();
        }
    
        setInterval(function(){updateContent({{s.idSondage}})}, 1000);
    </script>
    {% endfor %}
    </table>
    {% endif %}
<h2>Sondage répondu</h2>
<table>
    <tr>
        <th>Sujet sondage</th>
        <th>Date</th>
        <th>Choix vote</th>
        <th>Date vote</th>
        <th>Annuler</th>
    </tr>
    {% if len(participation)==0 %}
    </table>
    <p>Pas de sondage repondu</p>
    {% else %}
    {% for ps in participation %}
    <tr>
        <td>
            {% if ps.idRepetition!=None or ps.idSortie!=None %}
                {{ ps.message }}
            {% else %}
                {{ get_question_by_idSondage(ps.idSondage).intitule }}
            {% endif %}
        </td>
        <td>
            {% if ps.idSortie!=None %}
                {{ get_sortie_by_id(ps.idSortie).dateSortie }}
            {% elif ps.idRepetition!=None%}
                {{ get_repetition_by_id(ps.idRepetition).dateRepetition }}
            {% else %}
                <p>aucune</p>
            {% endif %}
        </td>
        {% if ps.idSortie!=None %}
            {% if get_sortie_by_id(ps.idSortie).presence %}
                <td>oui</td>
            {% else %}
                <td>non</td>
            {% endif %}
        {% elif ps.idRepetition!=None %}
            {% if get_participation_rep_by_musicien_and_sondage(current_user.idMusicien,ps.idSondage).presence %}
                <td>{{get_participation_rep_by_musicien_and_sondage(current_user.idMusicien,ps.idSondage).presence}}</td>
            {% else %}
                <td>{{get_participation_rep_by_musicien_and_sondage(current_user.idMusicien,ps.idSondage).presence}}</td>
            {% endif %}
        {% else %}
            {{ get_reponse_by_id(get_question_by_idSondage(ps.idSondage).idQuestion,ps.Sondage) }}
        {% endif %}
        <td></td>
        <td>
            <form method="POST" action="{{url_for('annuler_sondage')}}">
                <input type="text" name="idsondage" value="{{ps.idSondage}}" hidden>
                <input type="text" name="idsortie" value="{{ps.idSortie}}" hidden>
                <input type="submit" value="✖️" class="annul">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}
