{% extends "base.html" %}
{% block styles %}
{{ bootstrap.load_css() }}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/stat.css')}}">
{% endblock %}
{% block content %}

<h1> Statistiques des musiciens </h1>
<div class="form-group">
    <label for="selectgraph" class="control-label">Sélectionner le graphique souhaité</label>
    <select id="selectgraph" name="selectgraph" class="form-control" required>
        <option value="plot">Nombre de participation par musicien</option>
        <option value="pourcentage">Pourcentage de personne présente pour chaque activité</option>
        <option value="jour_dispo">Jour de la semaine où les musiciens sont le plus disponibles</option>
        <option value="reponse">Taux de réponse à un sondage par musicien</option>
    </select>
</div>
    <div id="plot">
        <!-- Contenu pour "Nombre de participation par musicien" -->
        {{ plot | safe }}
    </div>

    <div id="pourcentage" class="hidden">
        <!-- Contenu pour "Pourcentage de personne présente pour chaque activité" -->
        {{ pourcentage | safe }}
    </div>
    <div id="jour_dispo" class="hidden">
        <!-- Contenu pour "Pourcentage de personne présente pour chaque activité" -->
        {{ jour_dispo | safe }}
    </div>
    <div id="reponse" class="hidden">
        <!-- Contenu pour "Pourcentage de personne présente pour chaque activité" -->
        {{ reponse | safe }}
    </div>
    <script>
        // Écouter les changements dans le menu déroulant
        document.getElementById("selectgraph").addEventListener("change", function () {
            var selectedValue = this.value;
            // Masquer toutes les divs
            document.getElementById("plot").classList.add("hidden");
            document.getElementById("pourcentage").classList.add("hidden");
            document.getElementById("jour_dispo").classList.add("hidden");
            document.getElementById("reponse").classList.add("hidden");
            // Afficher la div en fonction de l'option sélectionnée
            document.getElementById(selectedValue).classList.remove("hidden");
        });
    </script>
    {% endblock %}