h1 {
    color: black;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}


.navbar {
    background-color: #444750;
    padding: 0;
}


.nav-item {
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-item:hover {
    font-weight: bolder;
    background-color: #2d2e33;
    
}

.nav-item2 {
    font-weight: bold;
    margin-right: 15px;

}

.btn:hover{
    background-color: rgb(206, 0, 0);
}

footer {
    background-color: #444750;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

span {
    color: white;
}

header {
    margin-bottom: 10px;
}

main>.container {
    padding: 5em 1em 0;
}

.nom {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    color: white;
    margin-right: 25px;
}