h1 {
    color: black;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}

.navbar {
    background-color: #444750;
    padding: 4px;
}


.nav-item {
    line-height: 2em;
    column-width: 150px;
    font-weight: bold;
    text-align: center;
    border-right : black solid 2px ;

}

.nav-item:last-child{
    border-right: 0px;
}

.nav-item:hover {
    font-weight: bolder;
    background-color: #2d2e33;
    
}

.nav-item2 {
    font-weight: bold;
    margin-right: 15px;

}

.btn:hover{
    background-color: rgb(206, 0, 0);
}

footer {
    background-color: #444750;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

span {
    color: white;
}

header {
    margin-bottom: 10px;
}

main>.container {
    padding: 5em 1em 0;
}

.nom {
    font-size: 1em;
    font-weight: bold;
    align-self: center;
    color: white;
    margin-right: 25px;
}

.dropbtn {
    background-color: #b10505;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 23px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: underline;
    border: 1px solid #ddd;
    text-align: right;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #c50606;}