h1 {
    color: black;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}


.navbar {
    background-color: #444750;
}


.nav-item {
    font-weight: bold;
    margin-right: 100px;
}

.nav-item2 {
    font-weight: bold;
    margin-right: 15px;

}

footer {
    background-color: #444750;
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin-top: auto;
}
@media (max-width: 768px) {
    footer {
        position: relative;
        margin-top: 20px; /* Ajustez selon vos besoins */
    }
}

span {
    color: white;
}

header {
    margin-bottom: 10px;
}

main>.container {
    padding: 5em 1em 0;
}

.nom {
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}