body {
  background-color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Inter', sans-serif;
}

h3 {
  padding-top: 1vw;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #1C2942;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #1C2942;
  border-right: #535353 solid 1px;
}

th:first-child {
  border-radius: 10px 0 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}

.mois:first-of-type {
  border-radius: 10px 10px 0 0;
  border: 1px solid #fff;
}

td {
  text-align: center;
  border: 1px solid #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.today {
  color: black;
  font-size: 20px;
}

.mois {
  border-bottom: #fff 1px solid;
}

.sortie {
  background-color: orange;
  margin-right: 1vw;
  padding: 5px 10px;
  border-radius: 5px;
}

.repetition {
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
}

div > a button {
  margin: 1vw;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1vw;
  cursor: pointer;
}

td a button {
  border-radius: 15%;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

.collapsible-table {
  display: none;
}


.dispo table,
.dispo2 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dispo th,
.dispo td,
.dispo2 th,
.dispo2 td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.dispo th,
.dispo2 th {
  background-color: #1C2942;
  color: #fff;
}

.dispo th:first-child,
.dispo2 th:first-child {
  border-radius: 10px 0 0 0;
}

.dispo th:last-child,
.dispo2 th:last-child {
  border-radius: 0 10px 0 0;
}

.dispo tr:hover,
.dispo2 tr:hover {
  background-color: #f5f5f5;
}

.dispo h3,
.dispo2 h3 {
  font-size: 20px;
}

.dispo h4,
.dispo2 h4 {
  margin-top: 10px;
  font-size: 16px;
}

.valider-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.valider-button:disabled {
  pointer-events: none;
}

.valider-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.valider-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn_crea_sortie {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn_crea_sortie:disabled {
  pointer-events: none;
}

.btn_crea_sortie:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_crea_sortie:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn_crea_repetition {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn_crea_repetition:disabled {
  pointer-events: none;
}

.btn_crea_repetition:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_crea_repetition:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn_crea_sondage_standard {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn_crea_sondage_standard:disabled {
  pointer-events: none;
}

.btn_crea_sondage_standard:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_crea_sondage_standard:active {
  box-shadow: none;
  transform: translateY(0);
}


.select_date {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select_date form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.select_date label {
  flex: 1;
  margin-bottom: 10px;
}

.select_date input[type="date"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.select_date button {
  padding: 10px 15px;
  background-color: #1A1A1A;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.select_date button:hover {
  background-color: #333;
}

/* Additional styles for responsiveness if needed */
@media (max-width: 600px) {


  .select_date form {
    flex-direction: column;
  }

  .select_date label,
  .select_date input[type="date"] {
    width: 100%;
  }

  .select_date button {
    width: 100%;
    margin-top: 10px;
  }
}

h2{
  text-align: center;
  padding-bottom: 3%;

}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #1C2942;
  color: #fff;
}

th:first-child,
td:first-child {
  border-radius:  0 0 0;
}

th:last-child,
td:last-child {
  border-radius: 0 0 0;
}

/* Ajoutez ces styles pour rendre le tableau responsive */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th, td {
    box-sizing: border-box;
    width: 100%;
  }

  th, td {
    text-align: left;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    border: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

.dispo1 {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dispo1 h3 {
  text-align: center;
  padding-bottom: 3%;
}

.dispo1 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dispo1 th,
.dispo1 td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.dispo1 th {
  background-color: #1C2942;
  color: #fff;
}

.dispo1 th:first-child,
.dispo1 td:first-child {
  border-radius: 0 0 0;
}

.dispo1 th:last-child,
.dispo1 td:last-child {
  border-radius: 0 0 0;
}

/* Styles pour la classe "dispo2" */
.dispo2 {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dispo2 h3 {
  text-align: center;
  padding-bottom: 3%;
}

.dispo2 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dispo2 th,
.dispo2 td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.dispo2 th {
  background-color: #1C2942;
  color: #fff;
}

.dispo2 th:first-child,
.dispo2 td:first-child {
  border-radius: 0 0 0;
}

.dispo2 th:last-child,
.dispo2 td:last-child {
  border-radius: 0 0 0;
}

/* Styles pour rendre les tables responsives */
@media (max-width: 600px) {
  .dispo1 table,
  .dispo2 table {
    display: block;
    width: 100%;
  }

  .dispo1 th,
  .dispo1 td,
  .dispo2 th,
  .dispo2 td {
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: center;
  }

  .dispo1 th,
  .dispo2 th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .dispo1 td,
  .dispo2 td {
    border: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
  }

  .dispo1 td:before,
  .dispo2 td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 10%;
    padding-right: 10px;
    white-space: nowrap;
  }
}

.btn_remove {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 45px;
  min-width: 0px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn_remove:disabled {
  pointer-events: none;
}

.btn_remove:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn_remove:active {
  box-shadow: none;
  transform: translateY(0);
}
.calendrier{
  display: flex;
  padding-left: 23%;
  padding-top: 3%;

}
.calendrier h1{
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

