h1{
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Inter', sans-serif;

}

h2,h3 {
  padding-top: 1vw;
}

table {
  border-collapse: collapse;
  width: 100%; 
} 

th {
  background-color: #1C2942;
  padding: 0.5vw;
  max-width: 5vw;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid #1C2942;
  border-right: #535353 solid 1px;
}

th:first-child{
  border-radius: 1vw 0px 0px 0px; 
}

th:last-child{
  border-radius: 0px 1vw 0px 0px; 
  border-right: 0px;
}



.mois:first-of-type{
    border-radius: 1vw 1vw 1vw 1vw;
    border : 1vw #fff solid;
}

td {
  text-align: center;
  border: 0.1vw solid #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.today{
    color:black;
    font-size: 50px;
}

.mois{
    border-bottom: #fff 1px solid;
}
.sortie{
    background-color: orange;
    margin-right: 1vw;
}

.repetition{
    background-color: yellow;
}

div > a button{
  margin: 1vw;
  background-color: #333;
  color: white;
  border-radius: 0.5vw;
  padding: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
}

button:hover{
    background-color: #555;
}

.bouton_crea_repetition{
padding-right: 80%;
}

td a button{
  border-radius: 15%;
  background-color: #333;
  color: white;
  padding-left: 3%;
  padding-right: 3%;

}

.collapsible-table {
  display: none;
}

.dispo2{
  padding-bottom: 10%;
}