body {
  background-color: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
}

h1{
  padding-bottom: 20px;
}

h2, h3{
  padding-top: 30px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #1C2942;
  color: #fff;
}

th:first-child {
  border-radius: 10px 0 0 0;
}

th:last-child {
  border-radius: 0 10px 0 0;
}

tr:hover {
  background-color: #fbf7f7;
}

.valid, .annul, .reponse {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.valid {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.annul {
  background-color: #f44336;
  color: white;
  border: 1px solid #f44336;
}

.reponse {
  background-color: #4CAF50;
  color: black;
}
